* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #edceff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    cursor: url('pic/kuromi cursor.png'), auto;
}




.buttons {
    display: flex;
    justify-content: center;
    width: 80%; 
    gap: 50px;
    margin-top: 30px;
    transition: gap 0.3s ease; 
}

button {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding: 15px 30px;
    border: none;
    border-radius: 12px;
    transition: all 0.4s ease-in-out;
    height: auto;
    cursor: pointer; 
    transform-origin: center; 
    min-width: 120px; 
}


#yes {
    background-color: #ffb1d8;
    color: #000000;
    cursor: url('pic/cursor2.png'), auto;
    border: black 2px solid;
}

#no {
    background-color: #000000;
    color: #ff99cc;
    cursor: url('pic/cursor3.png'), auto;
    border: white 2px solid;
}

button:hover {
    opacity: 0.8;
    scale: 1.05;
}

.no-touch button:hover {
    opacity: 0.8;
    scale: 1.05;
  }
  
  .touch-device button:active {
    opacity: 0.8;
    transform: scale(0.95);
    transition: transform 0.1s;
  }

.fade-out {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

.none {
    display: none;
}

.hide {
    transform: scale(0);
    transition: transform 0.4s ease-in-out;
}

@media (max-width: 768px) {     
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    #kuromi {
        max-width: 80%; 
        height: auto;
    }

    button {
        font-size: 18px;
        padding: 15px 20px;
        margin: 10px;
    }
}

@media (max-width: 480px) { 
    #kuromi {
        max-width: 90%;
   
    }


    button {
        font-size: 16px;
        padding: 12px 16px;
       
    }



    .buttons {
    width: 100%;
    justify-content: space-around;
    }

    .fade-in {
       font-size: 24px;
    }
}


@media (hover: none) {
    #no:hover, #yes:hover {
      opacity: 1 !important;
      transform: none !important;
      scale: 1 !important;
    }
  }
  

  .no-touch #no:active,
  .no-touch #no.active {
    opacity: 0.8;
    transform: scale(0.95);
  }
  
  .touch-device #no:active {
    opacity: 0.8;
    transform: scale(0.95);
    transition: transform 0.1s;
  }


